[Oo]bj/
[Bb]in/
*.user
*.suo
*.cache
*.log
*.bak
*.DS_Store
[Tt]humbs.db

.idea/
*.sln.iml  :contentReference[oaicite:2]{index=2}
*.idea/
*.iml

BepInEx/logs/
BepInEx/patchers/
BepInEx/config/
BepInEx/backup/
BepInEx/Unstripped/
BepInEx/core/
BepInEx/doorstop_config.ini
BepInEx/doorstop_managed.dat
BepInEx/doorstop_info.txt
BepInEx/doorstop_windows_x64.dll

*.harmony.xml
*.harmonydata

*.apk
*.unitypackage

.vs/
TestResults/
*.binlog

build
